.container {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 99999999999999999;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: inherit;
    gap: 1rem;
    font-size: 50px;
    font-weight: 700;
}